.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form .form-group {
  padding: 20px;
  border: 1px solid rgb(126, 125, 125);
  border-radius: 10px;
}

.form .button-group {
  margin: 5px;
}

.form .description {
  font-size: 12px;
  font-style: italic;
}

.form .date-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.form .date-item {
  margin: 0 10px 0 0;
}