.marker-popup {
  width: 500px;
  height: 300px;
  display: flex;
}

.marker-popup .marker-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.marker-popup .marker-info {
  padding: 10px;
}

.marker-popup .marker-cat {
  display: inline-list-item;
  padding: 3px;
  background-color: lightgray;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  width: 115px;
}

.marker-popup .marker-desc {
  font-size: 16px;
}
