.dayItem-part {
    position: absolute;
    top: 150px;
    left: 10px;
    height: 700px;
    padding: 0px;
}

.map-part {
    display: flex;
    justify-content: center;
    vertical-align: center;
    position: absolute;
    width: 800px;
    height: 500px;
    margin-left: 400px;
    horiz-align: right;
    background-color: blanchedalmond;
}

.save-part{
    display: flex;
    position: absolute;
    right: 90px;
    bottom: 30px;
}
.table-head{
    margin-top: -1px;
}

.table-content{
    overflow: scroll;
    height: 490px;
}

.list-box{
    height: 500px;
    width: 400px;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: lightgray;
}

.nav-bar{
    position: absolute;
    left: 400px;
    width: 80px;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #007bff;
}

.nav-content{
    position: absolute;
}
