.saved-trips-list {
    height: 600px;
    overflow: scroll;
}

.saved-trips-list .detail-btn {
    float: right;
    margin: 5px;
}

.saved-trips-list .custom-spinner-border {
    margin-top: 50%;
    margin-left: 50%;
}

.saved-trips-list .card {
  margin: 5px;
}