.trip {
  position: relative;
  width: 100%;
  height: 100%;
}

.trip .dayItem-part {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  width: 450px;
  height: 500px;
  
}

.trip .travel-dates {
  font-weight: bold;
  margin: 10px 0 30px 0;
}

.trip .tab {
  overflow-y: scroll;
  height: 500px;
  border: 1px solid lightgray;
}

.trip .table-row {
  cursor: pointer;
}


.trip .map-part {
  margin-left: 470px;
  width: calc(100% - 470px);
  height: 100%;
  background-color: lightblue;
}
